* {
  margin: 0;
  padding: 0;
}

.card {
  width: 200px;
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .card__imagen {
  width: 100%;
  border-radius: 5px;
}
.card .card-texto {
  text-align: center;
  margin-top: 10px;

}
.card .contenedorcards {
  display: flex;

}
.card .tituloinicio {
  margin-left: 60px;
  margin-top: 40px;
  text-decoration: underline;
}

.nav {
  background-image: url(../img/modern-beauty-products-recipients-with-copy-space.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  grid-area: nav;
  display: flex;
}
.nav ul {
  list-style-type: none;
  display: inline-flex;
}
.nav li a {
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  padding: 10px 20px;
}
.nav a:hover {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-items: center;
  border-radius: 5px;
  background-color: rgb(94, 90, 90);
  border: none;
  color: aliceblue;
  padding: 8px;
  margin: 10px;
}

.aside {
  width: 100%;
  height: 50px;
  background-color: rgb(99, 95, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .texto-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  padding-top: 15px;
  font-size: large;
}
.footer {
  background-color: rgb(214, 211, 211);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
}
.footer .titulo__footer {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
  list-style-type: none;
 
}
.footer .redes {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  list-style-type: none;
}
.footer .footer ul {
  list-style-type: none;
  color: black;
}

.form {
  width: 400px;
  margin-left: 460px;
  margin-top: 30px;
  padding: 50px;
}
.form .iniciosesion {
  text-decoration: underline;
  color: blue;
}
.form .tituloForm {
  text-align: center;
  text-decoration: underline;
}
.form .legend {
  font-size: large;
}

.img-nosotros {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 400px;
  padding: 20px;
}
.img-nosotros .contenedorimg {
  width: 450px;
  height: 50px;
}

.parrafo-nosotros {
  width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  margin-left: 280px;
  padding: 20px;
}

.body {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "nav    nav    nav    nav" 
                       "main   main   main   main" 
                       "aside  aside  aside  aside" 
                       "footer footer footer footer";
}

.main {
  grid-area: main;
  display: flex;
 
}

.footer {
  grid-area: footer;
}

.aside {
  grid-area: aside;
}

@media (max-width: 820px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" 
                         "main" 
                         "aside" 
                         "footer";
  }
}