* {
  margin: 0;
  padding: 0;
}

.nav {
  background-image: url(../img/black-marble-patterned-texture-background-marble-thailand-abstract-natural-marble-black-white-design.jpg);
  width: 100%;
  height: 300px;
  grid-area: nav;
  display: flex;
}
.nav ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
  padding: 5px;
}
.nav li a {
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  padding: 10px 20px;
}
.nav a:hover {
  font-weight: bold;
}

.fa-bars {
  color: white;
  padding: 5px;
  font-size: 24px;
  visibility: hidden;
}

.btn {
  display: flex;
  justify-items: center;
  border-radius: 5px;
  background-color: rgb(94, 90, 90);
  border: none;
  color: aliceblue;
  padding: 8px;
  margin: 10px;
  margin-left: 65px;
}

.aside {
  width: 100%;
  height: 50px;
  background-color: rgb(99, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside .texto-aside {
  text-align: center;
  color: aliceblue;
  padding: 15px;
  font-size: large;
}

.footer {
  background-color: rgba(196, 187, 187, 0.623);
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
}
.footer .titulo__footer {
  margin-bottom: 10px;
}
.footer .li {
  display: inline;
}
.footer .footer ul {
  list-style-type: none;
  color: black;
}

.form {
  width: 400px;
  align-items: center;
  padding: 10px;
}
.form .iniciosesion {
  text-decoration: underline;
  color: blue;
}
.form .tituloForm {
  text-align: center;
  text-decoration: underline;
}
.form .legend {
  font-size: large;
}

.index {
  text-align: center;
}
.index .img-index {
  width: 250px;
  align-items: center;
}
.index .titulos-index {
  padding: 10px;
  font-weight: bold;
}
.index .texto-index {
  padding: 10px;
  text-align: center;
}

@media (max-width: 800px) {
  .nav {
    padding: 0;
    width: 100%;
  }
  .nav ul {
    position: fixed;
    top: 0;
    left: -250px;
    flex-direction: column;
    background-color: grey;
    width: 250px;
    height: 100vh;
    transition: 0.2s;
    padding: 0;
    z-index: 100;
  }
  .fa-bars {
    visibility: visible;
  }
  .fa-bars:hover + nav ul {
    left: 0;
  }
  .nav ul:hover {
    left: 0;
  }
  .form {
    width: 150px;
  }
  .contenedor-rutina {
    display: flex;
    justify-content: start;
  }
  .contenedor-info {
    justify-content: start;
  }
}
.contenedor-contacto {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .img-contacto {
  width: 250px;
  padding: 10px;
}

.contenedor-info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contenedor-info .img-info {
  width: 250px;
  justify-content: center;
}
.contenedor-info .texto-info {
  text-align: center;
  width: 500px;
}
.contenedor-info .titulo-info {
  text-align: center;
}

.titulo-pieles {
  font-size: large;
  font-weight: bold;
}

.contenedor-rutina {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contenedor-rutina .img-rutina {
  width: 250px;
  justify-content: center;
}
.contenedor-rutina .texto-rutina {
  width: 500px;
}