.aside{
    width: 100%;
    height: 50px;
    background-color: rgb(99, 95, 95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .texto-aside{
        text-align: center;
        color: aliceblue;
        padding: 15px;
        font-size: large;
        
    }
    
}