.contenedorcards{
    display: flex;
    .card{
        width: 100px;
        margin: 30px;
        display: flex;
    }
        .card__imagen{
            width: 100%;
            border-radius: 5px;
        }
        .card-texto{
            text-align: center;
            margin-top: 10px;
        }
    }
    .tituloinicio{
        margin-left: 60px;
        margin-top: 40px;
        text-decoration: underline;
    }