%btn{
    display: flex;
    justify-items: center;
    border-radius: 5px;
    background-color: rgb(94, 90, 90);
    border: none;
    color: aliceblue;
    padding: 8px;
    margin: 10px;
    margin-left: 65px;
}