.footer{
    background-color: rgba(196, 187, 187, 0.623);
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    .titulo__footer{
        margin-bottom: 10px;
    }
    .li{
        display: inline;
    }
    .footer ul {
        list-style-type: none;
        color: black;
    }
  }

