.form{
    width: 400px;
    margin-left: 460px;
    margin-top: 30px;
    padding: 50px;
    .iniciosesion{
        text-decoration: underline;
        color: blue;
    }
    .tituloForm{
        text-align: center;
        text-decoration: underline;
    }
    .legend{
        font-size: large;
    }
}