.form{
    width: 400px;
    align-items: center;
    padding: 10px;
    .iniciosesion{
        text-decoration: underline;
        color: blue;
    }
    .tituloForm{
        text-align: center;
        text-decoration: underline;
    }
    .legend{
        font-size: large;
    }
}