.index{
    text-align: center;
    .img-index{
        width: 250px;
        align-items: center;
    }
    .titulos-index{
        padding: 10px;
        font-weight: bold;
    }
    .texto-index{
        padding: 10px;
        text-align: center;
    }
}