@import "reset";
@import "nav";
@import "extend";
@import "aside";
@import "footer";
@import "formulario";
@import "index";

.btn{
    @extend %btn
}

@media(max-width:800px){
    .nav{
        padding: 0;
        width: 100%;
    }
    .nav ul{
        position:fixed;
        top: 0;
        left: -250px;
        flex-direction: column;
        background-color: grey;
        width: 250px;
        height: 100vh;
        transition: 0.2s;
        padding: 0;
        z-index: 100;
       }

.fa-bars{
    visibility: visible;
}
.fa-bars:hover + nav ul{
    left: 0;
}
.nav ul:hover{
    left: 0;
}
.form{
    width: 150px;
}

}
@media (max-width:400px){
    .footer{
        background-color: rgba(196, 187, 187, 0.623);
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        display: flex;
        .titulo__footer{
           visibility: hidden;
        }
        .li{
            visibility: hidden;
        }
        .footer ul {
            visibility: hidden;
        }
      }
}

.contenedor-contacto{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   .img-contacto{
    width: 250px;
    padding: 10px;
}
}
.contenedor-info{
   width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;

.img-info{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .titulo-info{
        text-align: center;
        display: flex;
    }
}

.contenedor-rutina{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .img-rutina{
        width: 250px;
        justify-content: center;
    }
    .texto-rutina{
        width: 500px;
    }
}
.contenedor-pieles{
    width: 100%;
    display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;

    .titulo-pieles{
        font-size: large;
        font-weight: bold;
        
    }
}