@import "reset";
@import "nav";
@import "extend";
@import "aside";
@import "footer";
@import "formulario";
@import "index";

.btn{
    @extend %btn
}

@media(max-width:800px){
    .nav{
        padding: 0;
        width: 100%;
    }
    .nav ul{
        position:fixed;
        top: 0;
        left: -250px;
        flex-direction: column;
        background-color: grey;
        width: 250px;
        height: 100vh;
        transition: 0.2s;
        padding: 0;
        z-index: 100;
       }

.fa-bars{
    visibility: visible;
}
.fa-bars:hover + nav ul{
    left: 0;
}
.nav ul:hover{
    left: 0;
}
.form{
    width: 150px;
}
.contenedor-rutina{
    display: flex;
   justify-content: start;
}
.contenedor-info{
    justify-content: start;
}
}
.contenedor-contacto{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   .img-contacto{
    width: 250px;
    padding: 10px;
}
}
.contenedor-info{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;

.img-info{
    width: 250px;
    justify-content: center;
}
.texto-info{
    text-align: center;
    width: 500px;
    }
    .titulo-info{
        text-align: center;
    }
}
.titulo-pieles{
    font-size: large;
    font-weight: bold;
   
}
.contenedor-rutina{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .img-rutina{
        width: 250px;
        justify-content: center;
    }
    .texto-rutina{
        width: 500px;
    }
}